<style>
.following {
  background-color: black;
  color: white;
};

.non-following {
  background-color: white;
  color: black;
}

</style>

<div>

  <%- partial('../../partials/navbar.ejs') %>

  <div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <%- exposeLocalsToBrowser({keys: ['users']}) %>

    <div id="app" style="padding: 16px;">
      <div v-for="u in users"
        v-bind:key="u.id" 
        style="
          background-color: white; 
          margin-bottom: 16px;
          padding: 16px;">
        <a :href="'/user/' + u.id">
          {{u.fullName}}
        </a>

        <div>
          {{u.emailAddress}}
        </div>

        <div style="margin-top: 16px;">
          <button 
            v-on:click="follow(u)"
            v-bind:class="u.isFollowing ? 'following' : 'non-following'">
            {{u.isFollowing ? 'Unfollow' : 'Follow'}}</button>
        </div>
      </div>
    </div>

    <script>
      const allUsers = window.SAILS_LOCALS.users;

      const App = new Vue({
        el: '#app',
        data: {
          users: allUsers
        },
        methods: {
          follow: async function(user) {
            console.log(user.fullName);
            // toggle isFollowing here
            if (user.isFollowing) {
              await axios.post('/unfollow/' + user.id);
            } else {
              await axios.post('/follow/' + user.id);
            }

            const id = user.id;
            user.id = "TEMP";
            user.isFollowing = !user.isFollowing;
            user.id = id;
          }
        }
      });
    </script>

  </div>
