<div>

  <%- partial('../../partials/navbar.ejs') %>

  <div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

    <div id="app" style="padding: 16px;">
      <div v-for="u in users" 
        style="
          background-color: white; 
          margin-bottom: 16px;
          padding: 16px;">
        {{u.fullName}}
        <div>
          {{u.emailAddress}}
        </div>
      </div>
    </div>

    <script>
      const allUsers = window.SAILS_LOCALS.users;
      const App = new Vue({
        el: '#app',
        data: {
          users: allUsers
        }
      });
    </script>

  </div>
