<script>
function onFileChange(event) {
  console.log(event);
  const file = event.target.files[0];
  console.log(file);
  const imageSrc = window.URL.createObjectURL(file);
  document.getElementById('selectedImage').src = imageSrc;
  document.getElementById('selectedImage').style.display = 'block';
}
</script>


<div style="background-color: rgb(238, 238, 238); padding: 24px;">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <div id="app">
    <div v-for="p in posts">
      <div style="
        background-color: white; 
        padding: 24px; 
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;">
        <div style="font-weight: bold;">
          {{p.user.fullName}}
        </div>
        {{p.text}}

        <div>
          <img style="max-width: 100%; margin-bottom: 12px;" :src="p.imageUrl">
        </div>

        <button v-on:click="deletePost(p)">Delete Post</button>
      </div>

    </div>
  </div>


  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    const App = new Vue({
      el: '#app',
      data: {
        posts: window.SAILS_LOCALS.allPosts
      },
      methods: {
        deletePost: async function(post) {
          console.log(post);

          // i want to send a delete request
          const postId = post.id;

          try {
            await axios.delete(`/post/${postId}`);

            this.posts = this.posts.filter(p => {
              return p.id != post.id;
            }); 
          } catch (err) {
            console.error(err.toString());
          }
          
        }
      }
    })
  </script>
</div>